mixin problemAttempt(attempt)
  tr
    td.problem
      span #{attempt.problemId}
    td.start
      span #{attempt.startDateTime}
    td.end
      span #{attempt.endDateTime}
    td.success
      span #{attempt.success}
    td.userId
      span #{attempt.userId}
    td.deviceId
      span #{attempt.deviceInstallationUUID}

