mixin trCriterion(criterion)
  tr.criterion(data-element-id='#{criterion.id}', data-collection='dictionary', data-order-on='#{criterion.name}')
    td(data-key='id', data-value='#{criterion.id}').criterion-name= criterion.name
    td.criterion-min-score
      input(type='text', value='#{criterion.minScore}', data-key='minScore', data-saved-value='#{criterion.minScore}', data-required='true', data-type='integer')
    td.criterion-max-score
      input(type='text', value='#{criterion.maxScore}', data-key='maxScore', data-saved-value='#{criterion.maxScore}', data-required='true', data-type='integer')
    td.criterion-problem-is-mandatory
      input(type='checkbox', checked=criterion.problemIsMandatory, data-key='problemIsMandatory', data-saved-value='#{criterion.problemIsMandatory}')


table.click-across-outer
  tr
    td
      h4 Unassigned
      table#problem-unassigned-assessment-criteria.click-across-inner.click-across-inner-l(data-ignore-branch='true')
        thead
          tr
            th.criterion-name Criterion Name
            th.criterion-min-score 
            th.criterion-max-score
            th.criterion-problem-is-mandatory
        tbody
          each criterion in assessmentCriteria
            if !criterion.assigned
              mixin trCriterion(criterion)
            
    td.click-across-controls
      .click-right >
      .click-left <

    td
      h4 Assigned
      table#problem-assigned-assessment-criteria.click-across-inner.click-across-inner-r(data-key='assessmentCriteria', data-collection='array', data-array-elements-selector='tr.criterion', data-saved-array-element-ids='#{assignedCriteriaIds}')
        thead
          tr
            th.criterion-name Criterion Name
            th.criterion-min-score Min Score
            th.criterion-max-score Max Score
            th.criterion-problem-is-mandatory Mandatory
        tbody
          each criterion in assessmentCriteria
            if criterion.assigned
              mixin trCriterion(criterion)
