mixin tableProblems(lr, dataKey, tableLabel, tableId, problems, problemIds, dataUserOrder)
  td
    h4 #{tableLabel}
    - var classes = 'click-across-inner click-across-inner-' + lr 
    table(id="#{tableId}", class=classes, data-key='#{dataKey}', data-collection='array', data-array-elements-selector='tr.problem', data-saved-array-element-ids='#{problemIds}', data-user-order='#{dataUserOrder}')
      thead
        th.problem-id ID
        th.problem-description Description
        th.problem-notes Problem Notes
      tbody
        each problem in problems
          tr.problem.ui-draggable(data-element-id='#{problem.id}', data-order-on='#{problem.orderOn}', data-value='#{problem.id}')
            td.problem-id
              a(href='/content/problem/#{problem.id}')
                #{problem.id}
            td.problem-description= problem.value[0]
            td.problem-notes= problem.value[1]

table.click-across-outer(data-key="_id", data-value="#{elementId}")
  tr
    mixin tableProblems('l', 'includedProblems', 'Included Problem Sequence', 'included-problems', includedProblems, includedProblemIds, true)
    td.click-across-controls
      .click-right >
      .click-left <
    mixin tableProblems('r', 'excludedProblems', 'Excluded Problems', 'excluded-problems', excludedProblems, excludedProblemIds, false)
