- var trClasses = 'criterion-values collapsed' + (!criterion ? ' new-criterion' : '')
- var criterionId = criterion ? criterion._id : '';
tr(class=trClasses)
  td.controls
    if criterion
      .delete.button Delete
      .expandCollapse.button
        .expand Expand
        .collapse Collapse
      br
    .cancel.button Cancel
    .save.button Save
  td(data-key='id', data-saved-value=criterionId).criterion-id
    if criterion
      =criterionId
  td.criterion-name
    - var name = criterion ? criterion.name : ''
    input(type='text', value=name,  data-key='name', data-saved-value=name, data-required="true")
  td.criterion-points-required
    - var pointsRequired = criterion ? criterion.pointsRequired : ''
    input(type='text', value=pointsRequired,  data-key='pointsRequired', data-saved-value=pointsRequired, data-required="true", data-type="integer")
if criterion
  tr.criterion-problems.collapsed.not-loaded
    td
    td(colspan='3')
      .loading Loading...
      
