- var topicDisabled = topics && topics.length ? false : 'disabled'
- var dataKey = topicModuleElementInDataset ? 'topicId' : false
- var dataSavedValue = topicModuleElementInDataset ? topicId || '0' : false
select#select-topic(disabled=topicDisabled, data-key=dataKey, data-saved-value=dataSavedValue)
  if !topicId
    option(value=0, selected='selected') Select A Topic
  if topics
    each topic in topics
      - var topicSelected = topicId == topic.id ? 'selected' : false
      option(value="#{topic.id}", selected=topicSelected) #{topic.value[0]}
