extends layout

block append wrapper
  table#problem-data(style='margin-top:30px')
    tr
      td.title PList
      td.data 
        a(href='/kcm/problem/#{problemId}/view-pdef', target="_blank") View
        |&nbsp;
        a(href='/kcm/problem/#{problemId}/download-pdef') Download
        |&nbsp;
        a(href='/kcm/problem/#{problemId}/replace-pdef') Replace
    tr
      td.title Problem Description
      td.data #{problemDescription}
    tr
      td.title Internal Description
      td.data #{internalDescription}
    tr
      td.title Tool
      td.data #{toolName}
    tr
      td.title Date Created
      td.data #{dateCreated}
    tr
      td.title Last Modified
      td.data #{dateModified}
