mixin tableProblems(lr, dataKey, tableLabel, tableId, problems, problemIds, dataUserOrder)
  td
    h4 #{tableLabel}
    - var classes = 'click-across-inner click-across-inner-' + lr 
    div.scroll-div
      table(id="#{tableId}", class=classes, data-key='#{dataKey}', data-collection='array', data-array-elements-selector='tr.problem', data-saved-array-element-ids='#{problemIds}', data-user-order='#{dataUserOrder}')
        thead
          th.problem-id ID
          th.problem-description Description
          th.problem-notes Notes
        tbody
          each problem in problems
            tr.problem.ui-draggable(data-element-id='#{problem._id}', data-order-on='#{problem.orderOn}', data-value='#{problem._id}')
              td.problem-id
                a(href='/kcm/problem/#{problem._id}', target='_blank')
                  #{problem._id}
              td.problem-description= problem.problemDescription
              td.problem-notes= problem.problemNotes

table.click-across-outer(data-key="_id", data-value="#{pipelineId}")
  tr
    mixin tableProblems('l', 'includedProblems', 'Pipeline Sequence', 'included-problems', includedProblems, includedProblemIds, true)
    td.click-across-controls
      .click-right >
      .click-left <
    mixin tableProblems('r', 'excludedProblems', 'Other Problems', 'excluded-problems', excludedProblems, excludedProblemIds, false)
